<ng-template #addForm >
    <app-minitrip-form></app-minitrip-form>
</ng-template>


<div class="p-5">
    <div class="flex justify-between">
        <h2 class="text-3xl font-semibold underline pb-3">Trip Details</h2>
        <div class="flex justify-end">
            <button type="button"  
            class="cursor-pointer focus:outline-none text-white bg-red-600 hover:bg-red-500 font-medium rounded-lg text-sm px-8 py-3 me-2 mb-2 active:bg-red-600">Delete</button>
            <button type="button"  class="text-white cursor-pointer bg-gray-800 hover:bg-gray-900 active:bg-gray-700  font-medium rounded-lg text-sm px-10 py-3 me-2 mb-2 dark:bg-gray-800 ">Edit</button>
        </div>
    </div>
    <div class="w-full bg-neutral-300  rounded-2xl px-6 py-3">
        <div class="grid grid-cols-2 mt-5 tracking-widest ">
            <div class="">
                <div class="mb-5">
                    <p class="font-bold text-xl ">Name</p> 
                    <p class="text-lg">test</p> 
                </div>
                <div class="mb-5 ">
                    <p class="text-xl font-bold">Direction</p> 
                    <p class="text-lg">test</p> 
                </div>
                <div class="mb-5 ">
                    <p class="text-xl font-bold">Shift</p> 
                    <p class="text-lg">test</p> 
                </div>
                <div class="mb-5">
                    <p class="text-xl font-bold">Role</p> 
                    <p class="text-lg">test</p> 
                </div>
            </div>
            <div class="">
                <div class="mb-5">
                    <p class="font-bold text-xl ">Route</p> 
                    <p class="text-lg">test</p> 
                </div>
                <div class="mb-5 ">
                    <p class="text-xl font-bold">Direction</p> 
                    <p class="text-lg">test</p> 
                </div>
                <div class="mb-5 ">
                    <p class="text-xl font-bold">Shift</p> 
                    <p class="text-lg">test</p> 
                </div>
                <div class="mb-5">
                    <p class="text-xl font-bold">Role</p> 
                    <p class="text-lg">test</p> 
                </div>
            </div>    
        </div> 
    </div>
    <div class="pt-5">
         <div class="flex justify-between">
            <h2 class="text-3xl font-semibold underline pb-3">MiniTrips</h2>
            <button type="button" (click)="AddMinitrip()" class="text-white cursor-pointer bg-gray-800 hover:bg-gray-900 active:bg-gray-700  font-medium rounded-lg text-sm px-6 py-3 me-2 mb-2 dark:bg-gray-800 ">+ Add</button>

        </div>
        <div class="grid grid-cols-4 gap-5">
                <app-minitrip-card *ngFor="let minitrip of this.minitrips" [minitrip]="minitrip"></app-minitrip-card>
                
        </div>
    </div>
   
</div>
