<ng-template #editForm let-observer>
    <app-driver-add-form></app-driver-add-form>
  </ng-template>


<div class="w-full px-10 py-6 text-gray-600 ">
    <div class="flex items-center justify-between mb-3">
        <div></div>
        <div class="">
            <button type="button" (click)="onClick()"
            class="cursor-pointer focus:outline-none text-white bg-red-600 hover:bg-red-500 font-medium rounded-lg text-sm px-8 py-3 me-2 mb-2 active:bg-red-600">Delete</button>
            <button type="button" (click)="openEditForm()" class="text-white cursor-pointer bg-gray-800 hover:bg-gray-900 active:bg-gray-700  font-medium rounded-lg text-sm px-10 py-3 me-2 mb-2 dark:bg-gray-800 ">Edit</button>
        </div>
    </div>
    <div class="w-full bg-neutral-300  rounded-2xl px-6 py-5">
        <h2 class="text-2xl font-semibold">Driver Details</h2>
        <div class="grid grid-cols-2 mt-5 tracking-widest ">
            <div class="">
                <div class="mb-5">
                    <p class="font-bold text-xl ">First Name</p> 
                     <p class="text-lg">{{Driver?.employee?.firstName}}</p> 
                </div>
                <div class="mb-5 ">
                    <p class="text-xl font-bold">Address</p> 
                    <p class="text-lg">{{Driver?.employee?.address}}</p> 
                </div>
                <div class="mb-5 ">
                    <p class="text-xl font-bold">Email</p> 
                    <p class="text-lg">{{Driver?.employee?.email}}</p> 
                </div>
                <div class="mb-5">
                    <p class="text-xl font-bold"> Licence number</p> 
                    <p class="text-lg">{{Driver?.licenceNumber}}</p> 
                 </div>
                <div class="">
                    <p class="text-xl font-bold"> Permis type</p> 
                    <p class="text-lg">{{Driver?.permisType}}</p> 
                 </div>
            </div>
            <div class="">
                <div class=" mb-5">
                    <p class="text-xl font-bold">Last Name</p> 
                    <p class="text-lg">{{Driver?.employee?.lastName}}</p> 
                </div>
                <div class="mb-5">
                    <p class="text-xl font-bold"> Phone</p> 
                    <p class="text-lg">{{Driver?.employee?.phoneNumber}}</p> 
                 </div>
                <div class="mb-5">
                    <p class="text-xl font-bold"> Password</p> 
                    <p class="text-lg">{{Driver?.employee?.password}}</p> 
                 </div>
               
            </div>
           
            
            
        </div>
    </div>
</div>