    <div class="max-w-sm border-gray-200 rounded-lg shadow-sm bg-neutral-200 ">
    
         <div class="rounded-t-lg max-h-80">
            <img src="https://media.istockphoto.com/id/614316294/fr/photo/bus-blanc-conduisant-le-long-de-la-route-asphalt%C3%A9e-au-coucher-du-soleil.jpg?s=612x612&w=0&k=20&c=zmlL8UCdOimuCSg964HUISZ5aIt7FKgz2tNKll2Rips=" alt="">
         </div>
        <div class="p-5">
        <a  class="flex items-center ">
            <h5 class="mb-2 text-2xl font-bold tracking-wider  text-gray-600">{{this.minitrip()?.name}} </h5>
            <!-- <span class="flex w-3 h-3 me-3 mb-5  rounded-full" [ngClass]="this.stop()?.status == 'active'?'bg-green-500':'bg-red-500'"></span> -->


        </a>
        <p class="mb-3 font-normal text-gray-500">test </p>
       
        </div>
    </div>
   


