<div class="w-full h-full grid grid-cols-3">
    <div class="w-full col-span-2 ">
        <app-map [pointSignal]="point()" (stop)="getAddress($event)"></app-map>
    </div>
        <form action="" [formGroup]="StopForm">
            <div class="px-5 py-10 ">
                 <h2 class="text-2xl underline font-bold tracking-wide">{{this.editFlag?'Edit':'Add'}} Stop</h2>
                <div class="flex flex-col pt-5">
                    <div class="w-full max-w-lg mb-6">
                        <label for="" class="text-lg  font-semibold">Address</label>
                        <input (input)="getPoint($event)" formControlName="address" class="text-xl mt-4 w-full bg-transparent placeholder:text-slate-400 text-slate-700  border border-slate-200 rounded-md px-3 py-3 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow" placeholder="Address" />
                        <span class="text-red-400" *ngIf="StopForm.get('address')?.errors?.['required'] && StopForm.get('address')?.touched">Addresse Required</span>

                    </div>
                    <div class="w-full max-w-lg mb-6">
                        <label for="" class="text-lg  font-semibold">Name</label>
                        <input formControlName="name" class="text-xl mt-4 w-full bg-transparent  placeholder:text-slate-400 text-slate-700  border border-slate-200 rounded-md px-3 py-3 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow" placeholder="Name" />
                        <span class="text-red-400" *ngIf="StopForm.get('name')?.errors?.['required'] && StopForm.get('name')?.touched">Name Required</span>
                    </div>
                    <div class="w-full max-w-lg mb-6 ">
                        <label for="" class="text-lg  font-semibold">Status</label>
                        <div class="grid gap-2 md:grid-cols-2">
                            <div class="flex items-center ps-4 border border-gray-200 rounded-sm ">
                                <input id="bordered-radio-1" formControlName="status" type="radio" value="active"  class="w-4 h-4 shadow-sm text-xl bg-transparent border-gray-300  border-1  rounded-md">
                                <label for="bordered-radio-1" class="w-full py-4 ms-2 text-sm font-medium text-slate-700">Active</label>
                            </div>
                            <div  class="flex items-center ps-4 border border-gray-200 rounded-sm ">
                                <input id="bordered-radio-2" formControlName="status" type="radio" value="inactive"  class="w-4 h-4 shadow-sm text-xl bg-transparent border-gray-300  border-1  rounded-md">
                                <label for="bordered-radio-2" class="w-full py-4 ms-2 text-sm font-medium text-slate-700">inactive</label>
                            </div>
                        </div>
                        <span class="text-red-400" *ngIf="StopForm.get('status')?.errors?.['required'] && StopForm.get('status')?.touched">status Required</span>
                    </div>
                    <div class="w-full max-w-lg mb-6">
                        <label for="" class="text-lg font-semibold">Description</label>
                        <textarea 
                        formControlName="description"
                            name="" 
                            class="text-xl w-full bg-transparent placeholder:text-slate-400 text-slate-700 border border-slate-200 rounded-md px-3 py-3 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow" 
                            id="" 
                            rows="8" 
                            placeholder="Description"></textarea>
                    </div>
                    <button type="button" (click)="submit()" class="active:bg-gray-900 cursor-pointer   text-white bg-gray-800 hover:bg-gray-700  font-medium rounded-lg text-sm px-20 py-3">
                        {{this.editFlag?'Update':'Save'}} 
                    </button>
                </div>
            </div>
        </form>
</div>
