
<ng-template #content let-observer>
    <app-driver-add-form (close)="observer.complete()"></app-driver-add-form>
</ng-template>

<div class=" w-full px-15 py-10">
    <div class=" w-full flex items-center justify-between  ">
        <div class="flex items-baseline gap-x-2 ">
            <h2 class="text-2xl font-bold tracking-widest ">Drivers</h2>
            <span class="text-gray-500 text-sm font-medium">{{this.count()}}</span>
        </div>
            <button type="button" (click)="onClick(content,'page')" class="active:bg-gray-900 cursor-pointer flex items-center  gap-x-4 text-white bg-gray-800 hover:bg-gray-700  font-medium rounded-lg text-sm px-5 py-2.5  ">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus-icon lucide-circle-plus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/><path d="M12 8v8"/>
                </svg>
                Add Driver
            </button>
    </div>

    <div class="grid grid-cols-4 items-center w-full gap-10 pt-10">
        <div class="relative col-start-1 col-span-2 w-full">
          <input
            type="text"
            placeholder="Search"
            autocomplete="email"
            aria-label=""  (input)="this.Onsearch($event)"
            class="block w-full rounded-2xl border  border-neutral-300 bg-transparent py-4 pl-6 pr-20 text-base/3 text-neutral-950 ring-4 ring-transparent transition placeholder:text-neutral-500 focus:border-neutral-950 focus:outline-none focus:ring-neutral-950/5"
          />
          <div class="absolute inset-y-1 right-1 flex justify-end">
            <button
              type="submit"
              aria-label="Submit"
              class="flex aspect-square h-full cursor-pointer items-center justify-center rounded-xl bg-neutral-950 text-white transition hover:bg-neutral-700 active:mt-0.5"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
            </button>
          </div>
        </div>

            <select class="select bg-white rounded-2xl col-start-3 border-neutral-300 focus:outline-0 select-lg cursor-pointer w-full " >
                <option disabled selected>Permis Type</option>
                <option class="hover:bg-black">A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
              </select>
              
            <select class="select bg-white rounded-2xl col-start-4 border-neutral-300 focus:outline-0 select-lg cursor-pointer w-full" >
                <option disabled selected>Choose</option>
                <option class="hover:bg-black">Crimson</option>
                <option>Amber</option>
                <option>Velvet</option>
              </select>
    </div>
    <div class="overflow-x-auto bg-neutral-100 mt-10">
        <table class="table ">
          <!-- head -->
          <thead class="text-gray-700 border-b-2 border-gray-400">
            <tr>
              <th>
                <label>
                  <input type="checkbox" class="checkbox border-black text-black" />
                </label>
              </th>
              <th>Badge Number</th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>email</th>
              <th>permis type</th>
            </tr>
          </thead>
          <tbody>
           
            <!-- row 2 -->
            <tr *ngFor="let driver of this.drivers(); index as i" [ngClass]="i%2==0?'':'bg-white'">
              <th>
                <label>
                  <input type="checkbox" class="checkbox border-black text-black" />
                </label>
              </th>
              <td class="font-bold">
                {{driver.employee.badgeNumber}}
              </td>
              <td >
                    {{driver.employee.firstName}}
              </td>
              <td>
                {{driver.employee.lastName}}
                <!-- <br /> -->
                <!-- <span class="badge badge-ghost badge-sm">Tax Accountant</span> -->
              </td>
              <td>{{driver.employee.email}}</td>
              <td>{{driver.permis}}</td>
              <th>
                <button class="btn btn-ghost btn-xs">details</button>
              </th>
            </tr>
           
            <!-- row 1 -->
            <!-- <tr class="">
              <th>
                <label>
                  <input type="checkbox" class="checkbox border-black text-black"  />
                </label>
              </th>
              <td>
                <div class="flex items-center gap-3">
                  <div class="avatar">
                    <div class="mask mask-squircle h-12 w-12">
                      <img
                        src="https://img.daisyui.com/images/profile/demo/2@94.webp"
                        alt="Avatar Tailwind CSS Component" />
                    </div>
                  </div>
                  <div>
                    <div class="font-bold">Hart Hagerty</div>
                    <div class="text-sm opacity-50">United States</div>
                  </div>
                </div>
              </td>
              <td>
                Zemlak, Daniel and Leannon
                <br />
                <span class="badge badge-ghost badge-sm">Desktop Support Technician</span>
              </td>
              <td>Purple</td>
              <th>
                <button class="btn btn-ghost btn-xs">details</button>
              </th>
            </tr> -->
        </table>
        <div class=" w-full grid place-content-center py-5">
          <div class="join grid grid-cols-2 w-90">
            <button class="join-item btn btn-outline" [disabled]="this.pagination().getPageNumber()==1" (click)="prevPage()">Previous</button>
            <button class="join-item btn btn-outline " [disabled]="this.pagination().getCurrent()>=this.count()" (click)="nextPage()">Next</button>
          </div>
        </div>
       
      </div>
   

</div>